// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);

@import 'normalize';
@import 'defaults';
@import 'mq';
@import 'modal';
@import 'ut-logo';
@import 'mixins';

@import "vendor/hover/options";
@import "vendor/hover/mixins";
@import "vendor/hover/hacks";
@import "vendor/hover/effects/shadow-and-glow-transitions/grow-shadow";
@import "vendor/hover/effects/shadow-and-glow-transitions/shadow";
@import "vendor/hover/effects/2d-transitions/bounce-in";
@import "vendor/hover/effects/2d-transitions/grow";


.hidden {
    display: none;
}
#particles-js {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/laptop-javascript.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    @include fullBleed();

    @include mq($from: tablet) {
        height: 40vh;
    }
}
.about-me {

    @include fullBleed();
    @include sectionShadow();

    height: 35vh;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq($from: tablet) {
        height: 40vh;
    }

    .full-name, h2 {
        color: #f0f0f0;
    }

    h2 {
        font-weight: normal;
        font-size: 1.25rem;
    }

    .gravatar {
        display: block;
        margin: 2rem auto 0;
        text-align: center;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        width: 25vw;
        position: relative;
    
        @include mq($from: tablet) {
            position: absolute;
            width: 15vw;
            top: 2rem;
            right: 2.75rem;
            margin-top: 0;
        }
    }
}

.services, .experience {
    margin-top: 1rem;
    .service {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        &-card {
            background-color: white;
            flex: 0 1 100%;
            margin: 1rem;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            @include shadow();
            opacity: 0;
            transition: all 0.75s;

            &.center {
                transform: translateY(100px);
            }
            &.left {
                transform: translateX(-200px);
            }
            &.right {
                transform: translateY(-100px);
            }
            &.fade-up {
                opacity: 1;
                transform: translate(0, 0);
            }

            .service-header {
                width: 90%;
                margin: 1rem auto 0;
                text-align: center;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                img, i, svg {
                    max-height: 48px;
                    margin: 1rem;
                    transition: all 0.3s ease-in-out;
                }
                svg {
                    .lighter {
                        fill: #555555;
                    }
                    .darker {
                        fill: #383838;
                    }
                }
                i {
                    color: #555555;
                }
            }

            .service-description {
                padding: 1rem 2rem 0;
                
                ul {
                    padding-left: 2rem;
                    li {
                        list-style-position: outside;
                    }
                }

                &:last-of-type {
                    padding: 0 2rem 1rem;
                    margin: 1.5rem auto 1rem;
                }
            }

            &:hover {
                i, img, svg {
                    color: #AF566F;
                    transform: scale(1.2);
                }
                svg {
                    .lighter {
                        fill: lighten(#AF566F, 10%);
                    }
                    .darker {
                        fill: #AF566F;
                    }
                }
            }

            @include mq($from: tablet) {
                flex: 1 1 45%;

                &.right {
                    transform: translateX(200px);
                }
                &.fade-up {
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
            @include mq($from: desktop) {
                flex: 1 1 25%;
            }
        }
        .headline {
            position: relative;
            margin: 0.5rem auto 1rem;
            padding: 0 0.5rem;

            h3, h4 {
                margin: 0;
                line-height: 1.7;
            }
            h4 {
                font-weight: normal;
            }
            &:after {
                content: '';
                background-color: lighten(#AF566F, 30%);
                height: 3px;
                width: 70px;
                position: absolute;
                bottom: -1rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    @include mq($from: desktop) {
        max-width: 54rem;
        margin: 0 auto;
    }
}

.experience {
    .service-card {
        @include mq($from: tablet) {
            flex: 1 1 100%;
        }
        @include mq($from: desktop) {
            flex: 1 1 45%;
        }
    }
    .service-description {
        text-align: left;
        line-height: 1.7;
    }
    @include mq($from: desktop) {
        max-width: 72rem;
    }
}

.testimonials {
    @include fullBleed();
    
    h2 > span {
        &.before, &.after {
            width: 50%;
        }
    }
    .vueperslides {
        background-color: $cs-green;
        color: white;

        .vueperslide__content-wrapper {
            width: 80%;
            left: 50%;
            transform: translateX(-50%);

            line-height: 1.5;

            .vueperslide__content {
                line-height: 1.8;
                font-size: 125%;
                font-style: italic;
                font-weight: bold;
            }
        }
        .vueperslides__bullet--active {
            border-width: 0;
            background-color: white;
        }

        .vueperslides__arrows {
            .vueperslides__arrow--prev {
                left: -0.5em;
            }
            .vueperslides__arrow--next {
                right: -0.5em;
            }        
        }
    }
}
.work {
    display: block;
    
    .portfolio-hint {
        max-width: 90%;
        margin: 0 auto 3rem;
        text-align: center;

        @include mq($from: desktop) {
            display: none;
        }
    }
    .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    
        &-item {
            width: 100%;
            cursor: pointer;
            margin: 1rem;
            background-color: white;
            flex: 1 1 100%;
            padding: 1rem 2.5rem;
            
            @include shadow();

            opacity: 0;
            transition: all 0.3s ease-in-out;

            &.center {
                transform: translateY(100px);
            }
            &.left {
                transform: translateX(-200px);
            }
            &.right {
                transform: translateY(-100px);
            }
            &.fade-up {
                opacity: 1;
                transform: translate(0, 0);
            }

            figure {
                position: relative;
                transition: all 0.3s ease-in-out;
                margin: 0;

                &:after {
                    opacity: 0;
                    content: '\f31e';
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 3rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: auto;
                    color: black;
                    z-index: 999;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    background: white;
                    opacity: 0.7;
                    &:after {
                        opacity: 1;
                    }
                }
            }
            @include mq($from: tablet) {
                flex: 0 1 45%;

                &.right {
                    transform: translateX(200px);
                }
                &.fade-up {
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
            @include mq($from: desktop) {
                flex: 0 1 30%;
            }
        }
    }
}

.education {
    text-align: center;

    .ut-logo {
        width: 190px;
        height: 127px;
        padding: 2rem 0;
        color: transparent;
        margin: 0 auto;
        display: block;
        @include bounce-in();
    }
}

.download {
    padding: 2rem 0 0;
    margin: 0 auto;
    text-align: center;

    a {
        color: #444;
        padding: 0.5rem 1rem;
        border: 2px solid lightgray;
        @include grow-shadow();

        &:active, &:focus, &:hover {
            background-color: lightgray;
        }
    }
}
footer {
    .hire-me {
        text-align: center;
        margin-top: 3rem;
        padding-top: 0;
        @include fullBleed();

        a {
            background-color: #6FDA44;
            color: white;
            padding: 1rem 2rem;
            display: block;
            text-decoration: none;

            $activeColor: white !global;
            @include grow-shadow();
        }
        @include mq($from: tablet) {
            background-color: lightgrey;
            padding-bottom: 4rem;
            padding-top: 4rem;

            a {
                width: 50%;
                margin: 0 auto;
            }
        }
        @include mq($from: desktop) {
            a {
                width: 30%;
            }
        }
    }
    .contact {
        width: 90%;
        margin: 0 auto 3rem;

        .floating-label-wrap {
            position: relative;
            flex: 0 1 48%;
            margin-bottom: 3rem;
        }

        .floating-label-field, .floating-label {
            width: 100%;
        }

        .floating-label-field, textarea {
            border-bottom-color: rgb(227,227,227);
        }

        .floating-label-field {
            border-width: 0;
            border-bottom-width: 2px;
            z-index: 20;
            background-color: transparent;

            &:focus {
                outline: 0;
                box-shadow: 0;
                border-bottom: 2px solid lightgray;
                background-color: rgba(0,0,0, 0.05);
            }

            &::placeholder {
                color: transparent;
            }

            &,
            & + .floating-label {
                position: relative;
                line-height: 1;
                padding: 1.5em;
            }
            & + .floating-label {
                position: absolute;
                top: 0;
                left: 0;
                user-select: none;
                z-index: 10;
                transition: transform .25s, opacity .25s ease-in-out;
                transform-origin: 0 0;
                opacity: .5;
            }
            &:not(textarea) {
                height: 4em;
            }
            &:focus,
            &:not(:placeholder-shown) {
                & + .floating-label {
                    transform: translate(1%, -55%) scale(.8);
                    opacity: .25;
                }
            }
        }

        input[type=submit] {
            padding: 0.5rem 1rem;
            border: 2px solid lightgray;
            @include grow-shadow();

            &:active, &:focus, &:hover {
                background-color: lightgray;
            }
        }
        .row {
            display: flex;
            flex-direction: column;
            width: 100%;

            input:first-of-type {
                margin-top: 0;
            }
            
            @include mq($from: tablet) {
                flex-direction: row;
                justify-content: space-between;
                input {
                    width: 100%;
                }
            }
        }
        textarea {
            width: 100%;
        }

        input[type="submit"] {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            width: 50%;

            @include mq($from: desktop) {
                width: 30%;
            }

        }
    }

    .imprint {
        padding: 3rem 0;
        font-size: 0.75rem;
        text-align: center;
        background-color: lightgray;
        @include fullBleed();

        .social {
            width: 20%;
            margin: 1.5rem auto;
            display: flex;
            justify-content: space-between;
            a {
                color: #AF566F;
            }
            @include mq($from: tablet) {
                width: 10%;
                font-size: 1rem;
            }
        }
    }
    .affiliates {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            line-height: 1.5;
            margin: 0;
        }

        .digital-ocean {
            display: flex;
            flex-direction: column;
            svg {
                max-width: 32px;
            }
        }
        .namecheap {
            margin-top: 1rem;
            svg {
                max-width: 128px;
            }
        }

        @include mq($from: tablet) {
            flex-direction: row;
            align-items: center;

            .digital-ocean {
                margin-right: 0.75rem;
            }
            .namecheap {
                margin-top: 0;
                margin-left: 0.75rem;
            }
        }
    }
    .fa-vuejs {
        vertical-align: bottom;
        color: #AF566F;
        @include mq($from: tablet) {
            margin-top: 1rem;
        }
    }
}

.vuedal {
    header {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 1rem auto 2rem;

        .title, h3 {
            font-size: 1.1em;
            font-weight: normal;
        }
        .title {
            text-align: center;
        }
        .close {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 28px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -1.5rem;
            height: 1px;
            width: 100%;
            margin: 0 auto;
            background-color: $highlightColor;
        }
    }

    .modal-bg {
        margin: 0 auto 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .links {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding-top: 1rem;

            .site-link {
                background-color: $cs-green;
                border: none;
                color: white;
                transition: all 0.3s ease-in-out;
                padding: 0.5rem 2rem;
        
                &:hover {
                    background-color: $cs-maroon;
                    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
                }
                &:nth-child(2) {
                    margin-left: 1rem;
                }
            }
        }
    }
}

.close {
    button {
        background-color: $cs-green;
        border: none;
        color: white;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $cs-maroon;
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
        }
    }
}

.caption-platform {
    padding-top: 2rem;
    color: $cs-maroon;
}

.site-features {
    margin: 0;
    padding: 0;

}
.tags {
    list-style-type: none;
    padding: 0 0 0 1rem;
    margin: 0;
    
    li {
        display: inline;
        
        &:after {
            content: ', '
        }

        &:last-child:after {
            content: ''
        }
    }
}
